[Unit]
Description=HA Bridge
Wants=network.target
After=network.target

[Service]
Type=simple

WorkingDirectory=/opt//ha-bridgge
ExecStart=/usr/bin/java -jar -Dconfig.file=/opt/ha-bridge/data/habridge.config /opt/ha-bridge/ha-bridge.jar

[Install]
WantedBy=multi-user.target